<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
        <meta name="description" content=""></meta>
        <meta name="author" content=""></meta>
        <link rel="icon" href="../../favicon.ico"></link>
        <!-- Bootstrap core CSS -->
        <link href="../../dist/css/bootstrap.min.css" rel="stylesheet"></link>
        <!-- Custom styles for this template -->
        <link href="../../cover.css" rel="stylesheet"></link>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        
        <title>Add Data</title>
    </head>

    <body>

        <div class="site-wrapper">

            <div class="site-wrapper-inner">

                <div class="cover-container">

                    <div class="masthead clearfix">
                        <div class="inner">
                            <nav class="nav nav-masthead">
                                <a class="nav-link" href="/">Home</a>
                                <a class="nav-link active" href="#">Add Data</a>
                                <a class="nav-link" href="/registration">Register</a>
                            </nav>
                        </div>
                    </div>

                    <div class="inner cover">
                        <h1 class="cover-heading">Add Data</h1>
                        <form action="add-data" method="post">
                            <div class="form-group">
                              <label for="movie">Movie Title</label>
                              <input type="text" class="form-control" id="movie" placeholder=""></input>
                            </div>
                             <div class="form-group">
                              <label for="drink">Drink Name</label>
                              <input type="text" class="form-control" id="drink" placeholder=""></input>
                            </div>
                            <div class="form-group">
                              <label for="rating">Experience Rating</label>
                              <select class="form-control" id="rating">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                              </select>
                            </div>
                            <button class="btn btn-success">Submit</button>
                          </form>
                          
                    </div>

                    <div class="mastfoot">
                        <div class="inner">

                        </div>
                    </div>

                </div>

            </div>

        </div>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="../../dist/js/bootstrap.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    </body>
</html>
