<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"></meta>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
        <meta name="google-signin-client_id" content="379691979290-s80the6km4bu5uqkmdluje27qp0la9tp.apps.googleusercontent.com"></meta>
        <title>Add Data</title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width"></meta>
        <link rel="icon" href="../../favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
        <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/webjars/font-awesome/css/font-awesome.min.css"/>
        <link href="../../cover.css" rel="stylesheet"/>
    </head>

    <body>
        <div id="my-signin2"></div>
        <script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
        <script>
            // Initialize Firebase
            var config = {
                apiKey: "AIzaSyDO9wyRXwoy-hYSnzNrsSz91ca1gB5p0Qc",
                authDomain: "ist411-1522363488845.firebaseapp.com",
                databaseURL: "https://ist411-1522363488845.firebaseio.com/",
                projectId: "ist411-1522363488845",
                storageBucket: "ist411-1522363488845.appspot.com",
                messagingSenderId: "379691979290"
            };
            firebase.initializeApp(config);
            // Get a reference to the database service
            var database = firebase.database();
            newUser = "";
            firebase.auth().onAuthStateChanged(function (user) {
                if (user) {
                    console.log("User = " + user.uid);
                    newUser = user.uid;
                } else {
                    function onSuccess(googleUser) {
                        console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
                    }
                    function onFailure(error) {
                        console.log(error);
                    }
                    function renderButton() {
                        gapi.signin2.render('my-signin2', {
                            'scope': 'profile email',
                            'width': 240,
                            'height': 50,
                            'longtitle': true,
                            'theme': 'dark',
                            'onsuccess': onSuccess,
                            'onfailure': onFailure
                        });
                    }

                    provider = new firebase.auth.GoogleAuthProvider();
                    firebase.auth().signInWithPopup(provider).then(function (result) {
                        // This gives you a Google Access Token. You can use it to access the Google API.
                        var token = result.credential.accessToken;
                        // The signed-in user info.
                        user = result.user;
                    }).catch(function (error) {
                        // Handle Errors here.
                        var errorCode = error.code;
                        var errorMessage = error.message;
                        // The email of the user's account used.
                        var email = error.email;
                        // The firebase.auth.AuthCredential type that was used.
                        var credential = error.credential;
                    });
                }
            });// Login handling

            // Post new entry to DB        
            function writeNewPost() {
                var movie = document.getElementById('movie').value;
                var drink = document.getElementById('drink').value;
                var rating = document.getElementById('rating').value;
                // A post entry.
                var postData = {
                    "movie": movie,
                    "drink": drink,
                    "rating": rating
                };

                // Post the data
                var databaseRef = database.ref().child('users').child('uid');
                var newPostKey = databaseRef.push().key;
                var updates = {};
                updates['/users/uid-' + newUser + "/postkey" + newPostKey] = postData;
                return database.ref().update(updates);
            }
        </script>
        <div class="site-wrapper">

            <div class="site-wrapper-inner">

                <div class="cover-container">

                    <div class="masthead clearfix">
                        <div class="inner">
                            <nav class="nav nav-masthead">
                                <a class="nav-link" href="/">Home</a>
                                <a class="nav-link active" href="#">Add Data</a>
                                <a class="nav-link" href="/registration">Register</a>
                            </nav>
                        </div>
                    </div>

                    <div class="inner cover">
                        <h1 class="cover-heading">Add Data</h1>
                        <form action="" id="add_data">
                            <div class="form-group">
                                <label for="movie">Movie Title</label>
                                <input type="text" class="form-control" id="movie" placeholder=""></input>
                            </div>
                            <div class="form-group">
                                <label for="drink">Drink Name</label>
                                <input type="text" class="form-control" id="drink" placeholder=""></input>
                            </div>
                            <div class="form-group">
                                <label for="rating">Experience Rating</label>
                                <select class="form-control" id="rating">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                    <option>9</option>
                                    <option>10</option>
                                </select>
                            </div>
                            <button class="btn btn-success" id="save_form" onclick="writeNewPost(); console.log('clicked')">Submit</button>
                        </form>

                    </div>

                    <div class="mastfoot">
                        <div class="inner">

                        </div>
                    </div>

                </div>

            </div>

        </div>
        <!-- Google sign-in-->
        <script src="https://apis.google.com/js/platform.js?onload=renderButton"></script>
        <!-- Firebase imports -->
        <script src="https://www.gstatic.com/firebasejs/4.12.0/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/4.12.0/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/4.12.0/firebase-database.js"></script>
        <script src="https://www.gstatic.com/firebasejs/4.12.0/firebase-firestore.js"></script>

        <!-- Main FireBase script-->
        <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>

    </body>
</html>
