<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"></meta>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
        <meta name="google-signin-client_id" content="379691979290-s80the6km4bu5uqkmdluje27qp0la9tp.apps.googleusercontent.com"></meta>
        <title>Add Data</title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width"></meta>
        <link rel="icon" href="../../favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
        <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/webjars/font-awesome/css/font-awesome.min.css"/>
        <link href="../../cover.css" rel="stylesheet"/>
    </head>

    <body>

        <div class="site-wrapper">

            <div class="site-wrapper-inner">

                <div class="cover-container">

                    <div class="masthead clearfix">
                        <div class="inner">
                            <nav class="nav nav-masthead">
                                <a class="nav-link" href="/">Home</a>
                                <a class="nav-link active" href="#">Add Data</a>
                                <a class="nav-link" href="/registration">Register</a>
                            </nav>
                        </div>
                    </div>

                    <div class="inner cover">
                        <h1 class="cover-heading">Add Data</h1>
                        <form action="add-data" method="post">
                            <div class="form-group">
                              <label for="movie">Movie Title</label>
                              <input type="text" class="form-control" id="movie" placeholder=""></input>
                            </div>
                             <div class="form-group">
                              <label for="drink">Drink Name</label>
                              <input type="text" class="form-control" id="drink" placeholder=""></input>
                            </div>
                            <div class="form-group">
                              <label for="rating">Experience Rating</label>
                              <select class="form-control" id="rating">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                              </select>
                            </div>
                            <button class="btn btn-success">Submit</button>
                          </form>
                          
                    </div>

                    <div class="mastfoot">
                        <div class="inner">

                        </div>
                    </div>

                </div>

            </div>

        </div>
    </body>
</html>
