<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="google-signin-client_id" content="379691979290-s80the6km4bu5uqkmdluje27qp0la9tp.apps.googleusercontent.com">
        <title>Register</title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width"/>
        <base href="/"/>
        <link rel="icon" href="../../favicon.ico"></link>
        <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
        <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/webjars/font-awesome/css/font-awesome.min.css"></link>
        <link href="../../cover.css" rel="stylesheet"></link>
    </head>
    <body>

        <div class="site-wrapper">

            <div class="site-wrapper-inner">

                <div class="cover-container">

                    <div class="masthead clearfix">
                        <div class="inner">
                            <nav class="nav nav-masthead">
                                <a class="nav-link" href="/">Home</a>
                                <a class="nav-link" href="/add-data">Add Data</a>
                                <a class="nav-link active" href="/registration">Register</a>
                            </nav>
                        </div>
                    </div>

                    <div class="inner cover">
                        <h1 class="cover-heading">Register</h1>
                        <p class="lead">
                        <form class="form-horizontal" action="#" th:action="@{/registration}" th:object="${registration}" method="post">
                            <fieldset>
                                <div class="control-group">
                                    <!-- Username -->
                                    <label class="control-label"  for="username">Username</label>
                                    <div class="controls">
                                        <input type="text" th:field="*{username}" id="username" name="username" placeholder="" class="input-xlarge" />
                                        <p class="help-block">Username can contain any letters or numbers, without spaces</p>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <!-- E-mail -->
                                    <label class="control-label" for="email">E-mail</label>
                                    <div class="controls">
                                        <input type="text" th:field="*{email}" id="email" name="email" placeholder="" class="input-xlarge" />
                                        <p class="help-block">Please provide your E-mail</p>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <!-- Password-->
                                    <label class="control-label" for="password">Password</label>
                                    <div class="controls">
                                        <input type="password" th:field="*{password}" id="password" name="password" placeholder="" class="input-xlarge"/>
                                        <p class="help-block">Password should be at least 4 characters</p>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <!-- Password -->
                                    <label class="control-label"  for="passwordConfirm">Password (Confirm)</label>
                                    <div class="controls">
                                        <input type="password"  th:field="*{passwordConfirm}" id="passwordConfirm" name="passwordConfirm" placeholder="" class="input-xlarge"/>
                                        <p class="help-block">Please confirm password</p>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <!-- Button -->
                                    <div class="controls">
                                        <button class="btn btn-success">Register</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                        </p>
                    </div>

                    <div class="mastfoot">
                        <div class="inner">

                        </div>
                    </div>

                </div>

            </div>

        </div>
    </body>
</html>